apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-oykgqzfb
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-oykgqzfb:97ff5e128ba03031b99f26fedd0e5599c7ff5148@sha256:1197da01778754f68e516d2cbcc0d68ecf100c637bb10b327c93fa82811d5bc7
        name: container-image  
